__pycache__/
*.py[cod]
*$py.class

site/
build/
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

*.mo
*.pot

instance/
.webassets-cache

profile_default/
ipython_config.py

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
