<!DOCTYPE html>
<html lang="fr-fr" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vTasks API</title>
    <meta name="description" content="vTasks API" />
    <meta name="keywords" content="API vTasks, gestionnaire de tâches, todo list" />
    <meta name="robots" content="index,follow" />
    <link rel="canonical" href="/" />
    <meta name="author" content="Valentin BOUVAREL" />
    <link rel="stylesheet" type="text/css" href="/static/main.css">
  </head>
  <body>
    <figure>
      <img src="/static/vtaskr-logo-light.svg" alt="Logo vTasks" />
    </figure>
  </body>
</html>
